.jumbotron{

    background-image:url('../sitemedia/sophia.JPG');
    background-size:cover;
    background-position:50% 45%;
    color:#ffffff;
}

.bgcolor1{

    background-color:#ffbff1;

}


.row {text-align: center;
padding: 10px;}

.contactname {padding: 10px;}
.intro {padding: 10px;}
.aboutmecontent {padding: 10px;}


#footer {text-align: left;
    padding: 10px;
    background-color: #ffffff;
}

.bgcolor2{

    background-color:#9eedff;
}

.btn, .btn:visited, .btn:active{

    background-color:#ffbff1;
    border-color:#ffbff1 ;
    color:#ffffff;

}

.navbar-nav .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}



.btn:hover{

    background-color:#ffffff;
    border-color: #ffffff;
    color:#ffbff1;
}

.dropdown-menu  {
    padding: 20px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    color: #000000;
}

.dropdown-menu a:link {color: #bebccb;}
.dropdown-menu a:visited {color: #bebccb; }
.dropdown-menu a:hover {color: #000000; }

.pagelinks a:link {color: #000000;}
.pagelinks a:visited {color: #000000;}
.pagelinks a:hover { color: #ffbff1; box-shadow: 2px 2px 2px rgba(0,0,0,.3); }

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #ffbff1; 

  }

  .fa:hover{
    background-color:#ffbff1;
    border-color: #ffffff;
    color:#ffffff; 
  }

  @media only screen and (max-width: 768px) 
    {
        .navbar-brand {
        display: block; }

        .placeslinks a {width: 100%; display: block; padding: 20px; }
        .pipe {display: none; }
  
        .display-4 {font-size: 25px; }

        .pagelinks {
            width: 100%; display: block; font-size: 10px;
          }
    
          
       
    } 

#navbar-brand {
    background-color: #ffbff1;
    color: #ffffff;
    border-radius: 1em;
    padding: 10px; 
    margin: 10px; 
}

.navbar 
{text-align: center;}



.display-4 {
    
    text-align: right;

}


    .name {float: left; margin-left: 10px; }
    .clear {clear: both; }
    .copyright {float: right; margin-right: 10px; }
    .clear {clear: both; }


#placeslinks a {color: #000000;}
#placeslinks a:hover {color: #ffffff;}

.restaurantheader {background-color: #ffbff1;
text-align: center;}


#SYR {background-color: #9eedff; text-align: center; padding: 10px;}
#BOS {background-color: #9eedff; text-align: center; padding: 10px;}
#NYC {background-color: #9eedff; text-align: center; padding: 10px;}


.column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #recipepic {width: 300px;}

  .recipeheader {background-color: #9eedff; padding: 10px; text-align: center;}

  .pancakes, .tofu, .salad, .bananacd { width: 30%;

  }