
    body {background-color: #ddd7dc; }
    body {color: #000000; }
    
    nav a:link {color: #FFFFFF; }
    nav a:visited {color: #FFFFFF; }
    nav a:hover {color: #FCF1EF; }
    nav {padding: 10px; }
    nav {margin-bottom: 30px; }

    body { font-family: Arial, Helvetica, sans-serif; }

    #navlinks {display: block; }
    #navlinks {text-align: center;}
    #hamicon {width: 45px; display: none; }
    
    @media only screen and (max-width: 768px) 
    {
        #navlinks a {width: 100%; display: block; padding: 20px; }
        .pagelinks a {width: 100%; display: block; padding: 20px; }
        .pipe {display: none; }
  
       
    } 

    #skip-to-content { 
        position: absolute;
        left: -999px;
        background-color: #AC3B61;
        border: 1px solid gray;
    }
    #skip-to-content:focus {
        position: absolute;
        left: 10px;
    }

    .imgme {float: left; margin-right: 10px;}
    .clear {clear: both;}

    #content {display: flex; background-color: #5E616B;}

    .part1 {background-color: #a994a7;}
    .part1 {color: #f1eff2; }
    .part1 {text-align: center; }

    .pagelinks a:link {color: #f1eff2;}
    .pagelinks a:visited {color: #f1eff2; }
    .pagelinks a:hover {color: #FCF1EF; }
    .pagelinks {padding: 10px; }
    .pagelinks {margin-bottom: 30px; }

    .placeslinks a:link {color: #f1eff2;}
    .placeslinks a:visited {color: #f1eff2; }
    .placeslinks a:hover {color: #FCF1EF; }
    .placeslinks {padding: 10px; }
    .placeslinks {margin-bottom: 30px; }

    .salad, .tofu, .pancakes, .bananacd {max-width: 90%; } 


    .breakfast {display: flex; background-color: #bebccb; }
    .breakfast {padding: 10px; }

    .recipe1, .recipe2, .recipe3, .recipe4 {margin: 10px; }

    .sweets {display: flex; background-color: #bebccb; }
    .sweets {padding: 10px; }   
    
    .maincourses {display: flex; background-color: #bebccb; }
    .maincourses {padding: 10px; }   

    .sides {display: flex; background-color: #bebccb; }
    .sides {padding: 10px; }   

    .kayak {max-width: 100%;}

    .recipeintro {color: #000000; text-align: center;}

  

  
    /*  .recipe2 {flex: 1; order: 1; }
    .recipe3 {flex: 1; order: 1; }
    .recipe4 {flex: 1; order: 1; }
    /* .breakfast, .sweets, .maincourses, .sides {flex-wrap: wrap; }

    {display: flex; background-color: #E5BABF; border-radius: 1em;} 

 /* colors #E5BABF #FCF1EF #E7D8C9 #CDD3D6 #5E616B */