
    body {background-color: #fce3f9; }
    body {color: #000000; }
    a:link {color: #eb34d8; }
    nav {background-color: #FFFFFF; }

    nav a:link {color: #50afeb; }
    nav a:visited {color: #67769e; }
    nav a:hover {color: #eb34d8; }