
    body {background-color: #fce3f9; }
    body {color: #000000; }
    a:link {color: #eb34d8; }
    nav {background-color: #c470a4; }

    nav a:link {color: #50afeb; }
    nav a:visited {color: #67769e; }
    nav a:hover {color: #eb34d8; }

    nav {padding: 10px; }
    nav {margin-bottom: 30px; }
    

 


    